<div class="well">
	<form>
		<div class="form-group">
			<label for="inputEmail3" class="control-label">Filter</label>
			<input type="text" class="form-control" placeholder="Filter string" ng-model="filmter">
		</div>
	</form>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Year</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in movies | filter: {title: filmter}">
			<td>{{item.title}}</td>
			<td>{{item.year}}</td>
			<td>
				<button class="btn btn-default" ng-click="vote(item)"><i ng-class="!!item.votes[0].vote_up ? 'fa fa-thumbs-up' : 'fa fa-thumbs-o-up'"></i></button>
			</td>
		</tr>
	</tbody>
</table>